.container-fluid {
    font-size: 14px;
}
.navbar-nav {
    flex-direction: row;
}
table{
    margin-left: 20px;
}
button {
    margin: 0 10px 0 10px;
    width: 100px;
    height: 30px;
}

#uploadDialogBtn {
    padding-top: 3px;
}